body,
html {
margin:0;
padding:0;
color:#000;
background:#404040;
}



#wrap {
width:750px;
margin:0 auto;
background:#FFE568;
height: auto;
}

#header {
padding:5px 10px;	
background:#B71427;
}


h1 {
margin:0;
}

#nav {
padding:5px 10px;
background:#4dff4d;
}

#main {
background:#4dff4d;
}
#sidebar {
background:#4dff4d;
height: auto;
}
#footer {
background:#00F76E;
}

#main {
float: left;
width: 500px;
background: #B71427;
}

#footer {
clear:both;
background:#4ffd4d
}


#sidebar {
float: right;
width: 250px;
height: auto;
background: #FFE658;
}

#nav ul {
margin:0;
padding:0;
list-style:none;
}
#nav li {
display:inline;
margin:0;
padding:0;
}
